* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 50px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    color: #ccc;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    color: #bbb;
    margin-bottom: 20px;
}

/* Buttons */
.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    background: #00c6ff;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    background: #0072ff;
}

/* Interview Page */
.container {
    width: 60%;
    margin: 50px auto;
}

.question-box {
    background: rgba(255,255,255,0.08);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    background: #00c6ff;
    color: white;
    cursor: pointer;
}

/* Result Page */
.result-box {
    text-align: center;
    margin-top: 100px;
}