<!DOCTYPE html>
<html>
<head>
    <title>MockInterview AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>MockInterview AI 🚀</h1>
<p>Crack Your Dream Interview</p>

<div class="card">
    <h2>Python</h2>
    <a href="/interview/python">Start</a>
</div>

<div class="card">
    <h2>Java</h2>
    <a href="/interview/java">Start</a>
</div>

<div class="card">
    <h2>HR Round</h2>
    <a href="/interview/hr">Start</a>
</div>

</body>
</html>