<!DOCTYPE html>
<html>
<head>
    <title>Interview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>{{ category.upper() }} Interview</h2>

    <form method="POST">
        {% for q in questions %}
        <div class="question-box">
            <p>{{ loop.index }}. {{ q.q }}</p>
            <input type="text" name="answers" placeholder="Type your answer..." required>
        </div>
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>